.centered{ text-align: center; }
.klout img, .myspace img{ max-height: 425px;}
.main_links > li > a{ border-radius: 15px; border: 1px solid #dfdfdf; background: #dddddd; }
h1 {  font-size: 2em; margin: 0.67em 0; }
a:focus {outline: thin dotted; }
a:active,a:hover { outline: 0; }
a, a:visited { text-decoration: underline; }
  /*a[href]:after {
    content: " (" attr(href) ")"; }
  */
abbr[title]:after { content: " (" attr(title) ")"; }

img { vertical-align: middle; }

.row:before, .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.row:after {  clear: both; }

.btn {  display: inline-block; padding: 8px 12px; margin-bottom: 0; font-size: 14px; font-weight: 500; line-height: 1.42857; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 0px; white-space: nowrap; }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus { color: white; text-decoration: none; }
.btn:active, .btn.active { outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: default; pointer-events: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after { clear: both; }
.pull-right { float: right; }
.pull-left { float: left; }
.hide { display: none !important; }
.show { display: block !important; }
.invisible{ visibility: hidden; }

/*
  These three lines are for transparency in all browsers. 
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=50);
       opacity:.5;
*/

.row { margin-left: -15px; margin-right: -15px; } 
.row .row { margin-left: -15px; margin-right: -15px; }
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{ position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 { float: left; }
.col-1 { width: 8.33333%; }
.col-2 { width: 16.66667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333%; }
.col-5 { width: 41.66667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333%; }
.col-8 { width: 66.66667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333%; }
.col-11 { width: 91.66667%; }
.col-12 { width: 100%; }

.table { border-collapse: collapse !important;  width: 100%; max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0;}
thead { display: table-header-group; vertical-align: middle;  border-color: inherit;}
.table th, .table td {padding: 8px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #dddddd;}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {background-color: #f9f9f9;}
body{margin: 10px 10% 0 10%;}