h1= title
p Welcome to #{title}

#content
	p The users are
	ul
		for user in users
			li #{user.FirstName} #{user.LastName}
hr
div
	form(action="/user" method="post")
		div
			div.field
				span.label First Name 
				input(type="text", name="FirstName", id="newUserFirstName")
			div.field
				span.label Last Name  
				input(type="text", name="LastName", id="newUserLastName")
			div#newUserSubmit
				input(type="submit", value="Save")
